.header__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.header__icon {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 7px;
  cursor: pointer;
}

.header__name-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  line-height: 30px;
  margin-top: 20px;
}

.header__name {
  font-family:  Chela One;
  font-size: 50px;
  color: #de0252;
  margin-right: 20px;
}

.header__span {
  font-family: Caveat;
  font-size: 25px;
  color: #fc6e96;
  padding-left: 30px;
}